<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      Wallet view {{ title }}
    </title>

    <style>
      {% include "normalize.css" %}
      {% include "style.css" %}
    </style>
  </head>

  <body>
    <h1>
      Clip-path
    </h1>

    <div class="container">
      <div class="circle">

      </div>

      <div class="inset">

      </div>
    </div>

    <!-- we need to invert colors via modern css rules -->
    <div class="container">
      <ul class="tabs-container">
        {% for tab in tabs %}
        <li class="tabs-container__tab">
          <button
            class="tabs-container__tab-btn"
            type="button"
          >
            {{ tab.text | title }}
          </button>
        </li>
        {% endfor %}
      </ul>

      <ul class="tabs-container tabs-container--clip-path">
        {% for tab in tabs %}
        <li class="tabs-container__tab">
          <button
            class="tabs-container__tab-btn"
            type="button"
          >
            {{ tab.text | title }}
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
